@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .navbar {
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
} */

.contactPage {
  font-size: x-large;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.contacth1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue; 
}

header .navbar h1 {
  padding: 10px;
  margin: 10px;
  background-color: #FFDE00;
  color: #333;
  display: inline-block;
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}


.roobis{
  margin: 35px;
}

.portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
}

.footerlink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume{
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
} 

.AboutMe h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
}
