/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* .navbar {
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
} */

.contactPage {
  font-size: x-large;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.contacth1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar h1 {
  padding: 10px;
  margin: 10px;
  background-color: #FFDE00;
  color: #333;
  display: inline-block;
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}


.roobis{
  margin: 35px;
}

.portfolio {
  
}

h1 {
  
}
