@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* div .navbar {
  font-size: larger;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
} */

.contactPage {
  font-size: x-large;
}

.contacth1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue; 
}

/* my name */
div nav h1 {
  padding: 10px;
  margin: 10px;
  background-color: #242038;
  color: #0496ff;
  display: inline-block;
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}

.letter{
  padding: 10px;
  margin: 10px;
  background-color: #ffde00;
  color:#0496ff;
  display: inline-block;
}

.roobis{
  margin: 35px;
}

.portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
}

.portfolio1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio2 {
  padding: 10px;
  margin: 10px;
  background-color: #242038;
  color: #0496ff;
  display: inline-block;
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}

a portfolio2 {
  padding: 10px;
  margin: 10px;
  font-size: 10px;
}

main ul {
  padding: 10px;
  margin: 10px;
  background-color: #242038;
  color: #0496ff;
  display: inline-block;
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}

.footerlink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume{
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
} 

.AboutMe h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
}

.Foggy {
  height: 250px;
  width: 100%;
}