main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary:yellow;
  --secondary: 027bce;
  --tertiary: #B12704;
  --light: #ffffff;
  --dark: #242038;
  --darker: #000000;
  --error: rgb(163, 56, 29);
 }

body {
  margin: 5px;
  padding: 20px;
  font-weight: 600;
  line-height: 1;
  font-size: 27px;
  background: black;
  color: #0496ff;
  font-family:monospace;
letter-spacing: .1em;
}

/* h1 font sizes */
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin: 5px 0;
  line-height: 1.5;
}

/* about me p */
p {
  font-size: .75em;
  margin-top: 0;
}

/* footer underline */
a:hover {
  text-decoration: underline;
}

/* contact name & email*/
input {
  font-size: 2rem;
  padding: 0.50rem;
  border: 3px solid #0496ff;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}
/* contact message box */
textarea {
  font-size: 2rem;
	width: 1200px;
	height: 200px;
	border: 3px solid #0496ff;
	padding: 5px;
}

/* contact button */
button:hover {
  background-color: black;
  color: yellow;
  opacity: .80;
}
 
/* contact button */
button {
  cursor: pointer;
  margin: 0 515px;
  background-color: yellow;
}

/* photo gets larger than screen */
img {
  max-width: 100%;
}

/* bullets resume */
li {
  list-style:inside;
}

/* ugly hover lines */
nav a:hover {
  text-decoration: none;
}

/* bullets on nav links */
nav  li {
  cursor: pointer;
  list-style: none;
}

/* submit button */
button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

/* nav links */
a {
	color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}


